{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/ui/css/style.css">
    <script src="../static/script.js" defer></script>
    <title>GRORPIE-TRACKER</title>
</head>
<body>
    <input id="search" type="text" oninput="handleSearch()">
    <div id="search-results" class="search-results"></div>
    <div class="wrapper">
        <h1 class="title center">
            Groupie-Tracker
        </h1>
        <div id="artist-container">
            {{range .}}
            <a href="/artist?id={{.Id}}" id="{{.Id}}">
                <img src="{{.Image}}" class="image" alt="{{.Name}}">
            </a>
            {{end}}
        </div>

        <!-- Display search results -->
    </div>
    
    
    
    
</body>
</html>
{{end}}
