{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,400;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="wrapper">
        <h1 class="title center">
            Groupie-Tracker
        </h1>
        {{range .}}
        <a href="/artist?id={{.Id}}">
            <img src="{{.Image}}" class="image" alt="image">
        </a>
        {{end}}
    </div>
</body>
</html>
{{end}}