* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artist-link {
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    display: block;
    /* max-width: 173px; */
    width: 100%;
   
}
.search-results {
    max-width: 173px;
    display: block;
    /* max-height:  200px; */
    
    /* background-color: #000; */
}
.artist-list-item {
    text-decoration: none;
    list-style-type: none;
    max-width: 173px;
    /* width: 100%; */
}