* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Granty';
    src: url('GrantyRegular.woff2') format('woff2'), /* Modern Browsers */
         url('GrantyRegular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}